.skills-section {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .4rem;
  margin-left: .4rem;
  margin-right: .4rem;
  border-width: .1rem;
  border-radius: 1rem;
  border-color: #262626;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 84%;
  height: 84%;
}

.skills-container div {
  border-color: #262626;
}

.skills-top-block {
  display: flex;
  justify-content: center;
  border-width: .1rem;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}
.skills-bottom-block {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
}

.skills-bottom-block div {
  padding-top: 2.2rem;
}

.skills-column-left {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-width: .1rem;
  border-radius: 0 0 0 1rem;
  width: 100%;
}

.skills-column-middle {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-width: .1rem;
  width: 100%;
}

.skills-column-right {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-width: .1rem;
  border-radius: 0 0 1rem 0;
  width: 100%;
}

.skills-column-title {
  margin-top: -2rem;
  font-size: 2rem;
}

.skills-column-experience div {
  margin-top: -1.8rem;
  opacity: .6;
}

.skills-column-languages div {
  margin-top: -1.8rem;
  opacity: .6;
}

.skills-column-points div {
  margin-top: -1.8rem;
  opacity: .6;
}

@media only screen and (max-width: 480px) {
  .skills-section {
    height: 100%;
    border-width: 0;
  }
  .skills-container {
    width: 100%;
    height: 100%;
  }
  .skills-top-block {
    font-size: 2rem;
  }
  .skills-column-title {
    font-size: 1.3rem;
  }
  .skills-bottom-block {
    font-size: 1rem;
  }
  .skills-bottom-block div {
    padding-top: 1.5rem;
  }
  .skills-column-experience div {
    margin-top: -1.5rem;
  }
  .skills-column-languages div {
    margin-top: -1.5rem;
  }
  .skills-column-points div {
    margin-top: -1.5rem;
  }
  .skills-column-right {
    padding-bottom: 1rem;
  }
}
