.contact-section {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: .4rem;
  margin-right: .4rem;
  margin-left: .4rem;
  margin-bottom: 1rem;
}

.contact-container {
  background: black;
  height: 85%;
  width: 60%;
  border-width: .1rem;
  border-radius: 3rem;
  border-color: #262626;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}

.form-title {
  align-self: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 4rem;
  text-align: center;
  text-wrap: balance;
}

.form-bottom-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 3rem;
}

.form-name {
  margin-left: .1rem;
}

.form-name-input {
  background: black;
  width: 100%;
  height: 3rem;
  border-width: .1rem;
  border-radius: 1rem;
  border-color: #262626;
  padding-left: 1rem;
  margin-top: .5rem;
  outline: 0;
}

.form-email {
  margin-left: .1rem;
  margin-top: 2rem;
}

.form-email-input {
  background: black;
  width: 100%;
  height: 3rem;
  border-width: .1rem;
  border-radius: 1rem;
  border-color: #262626;
  padding-left: 1rem;
  margin-top: .5rem;
  outline: 0;
}

.form-message {
  margin-left: .1rem;
  margin-top: 2rem;
}

.form-message-input {
  background: black;
  width: 100%;
  height: 10rem;
  border-width: .1rem;
  border-radius: 1rem;
  border-color: #262626;
  padding-left: 1rem;
  padding-top: .6rem;
  margin-top: .5rem;
  outline: 0;
  resize: none;
}

.form-submit-block {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.form-submit-button {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9999rem;
  border-width: .1rem;
  border-color: #262626;
  background-color: black;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.125rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 0.15);
  transition: transform 0.3s ease;
}

.form-submit-button:hover {
  background-color: #151515;
}

@media only screen and (max-width: 480px) {
  .contact-section {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-container {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .form-title {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .form-bottom-block {
    margin-top: 2rem;
  }
  .form-submit-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
